/* Generics */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: #333;
  color: white;
}

.container {
  margin: auto;
}



section {
  padding: 50px 0;
}

form {
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}

form button {
  padding: 10px;
  background: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background: #0056b3;
}

footer {
  background: #222;
  color: #ccc;
  text-align: center;
  padding: 20px 0;
  height: 20vh;
}

 /* Centering class */

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* MENU */

.menu-container {
  position: fixed;
  color: #333333;
  top: 20px;
  right: 20px;
  z-index: 9999;
  width: 150px; /* Décalage pour contenir le texte */
}

.menu-toggle {
  width: 100%;
  color: 333333;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.menu-items {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
}

.menu-container:hover .menu-items {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
}

.menu-items a {
  padding: 8px 12px;
  margin: 2px 0;
  text-decoration: none;
  color: #333333;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  transition: letter-spacing 0.3s ease, text-shadow 0.3s ease;
  font-family: 'Outfit', sans-serif;
  font-variation-settings: "wght" 400;
  transition: font-variation-settings 0.3s ease;
}

.menu-items a:hover {
  letter-spacing: 0.5px;
  text-shadow: 0 0 1px white;
  font-variation-settings: "wght" 700;
}

.menu-items a.active {
  position: relative;
  font-weight: bold;
  color: #333333;
}

.menu-items a.active::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: 4px;
  width: calc(100% - 20px);
  height: 2px;
  background-color: #ED6237; /* 🔶 couleur de soulignement personnalisée */
}

/* Home Page */

#hero {
  background: white;
  color: #333333;
  padding: 10vh 0;
  text-align: center;
  height: 80vh;
}

#competences {
  background: #333333;
  color: white;
  padding: 5vh 0;
  text-align: center;
  height: 40vh;
}

.competences {
  margin: 5vh 5vw;
}

#services {
  background: white;
  color: #333333;
  padding: 10vh 0;
  text-align: center;
  height: 60vh;
}